body{
  /*background-color: pink;*/
background-image: url("img/appleSmartPhoneDesk.jpg");
}

#top{
  background-image: url("img/appleSmartPhoneDesk.jpg");
}
#bio{
/*bio styling here*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li a{
text-decoration:none;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
}

li {
    display: inline;
    float: left;
}


p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
